.Loader {
    display: absolute;
    width: 64px;
    height: 64px;
    margin: auto;
  }
  .Loader:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid #fcf;
    border-color: rgb(47, 13, 47) transparent rgb(78, 18, 78) transparent;
    animation: Loader 1.2s linear infinite;
  }
  @keyframes Loader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  